<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-menu-toggle></app-menu-toggle>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="abrirFormulario()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button> -->
      <ion-button [color]="hasFilter ? 'warning' : null" (click)="openFilter()">
        <ion-icon
          slot="icon-only"
          [name]="hasFilter ? 'funnel' : 'funnel-outline'"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="gridComponent.exportToExcel(title)">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <app-filter-preview
    *ngIf="hasFilter"
    [filter]="filter"
    [filterMaps]="filterMaps"
    [filterControls]="filterControls"
    (click)="openFilter()"
  ></app-filter-preview>
</ion-header>

<ion-content class="ion-padding">
  <app-grid
    #gridComponent
    [singleRowColumns]="columns"
    [items]="items"
    [paginator]="paginator"
    [sorting]="sorting"
    [total]="total"
    [loading]="loading"
    (doRefresh)="refreshItems($event)"
  ></app-grid>

  <ng-template #editCell let-item="item" let-id="value">
    <ion-button
      class="table-button"
      size="small"
      fill="clear"
      (click)="editarPerfil(id)"
      *ngIf="id === sessionProvider.session.id"
    >
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>

    <ion-button
      class="table-button"
      size="small"
      fill="clear"
      disabled="true"
      color="medium"
      *ngIf="id !== sessionProvider.session.id"
    >
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
  </ng-template>
</ion-content>
