<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-menu-toggle></app-menu-toggle>
    </ion-buttons>
    <ion-title>{{baseAtiva}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="content-middle">
    <ion-row>
      <ion-col
        size="12"
        *ngIf="!indicadores?.length && !erro"
        class="ion-text-center ion-padding ion-margin"
      >
        <p>Buscando indicadores</p>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>

      <ion-col
        size="12"
        *ngIf="!indicadores?.length && erro"
        class="ion-text-center ion-padding ion-margin"
      >
        <p>Não foi possível carregar os indicadores</p>
        <p>
          <ion-text color="medium">{{erro}}</ion-text>
        </p>
        <ion-button size="small" (click)="ngOnInit()">
          Tentar novamente
        </ion-button>
      </ion-col>
      <ion-col
        class="indicador"
        sizeXs="12"
        sizeSm="4"
        sizeLg="3"
        [offsetLg]="i == 0 || i == 3 ? 1 : 0"
        *ngFor="let indicador of indicadores; let i = index"
      >
        <ion-card>
          <ion-card-content>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <div class="indicador__titulo">{{indicador.titulo}}</div>
                <h2>
                  <ion-text color="primary"> {{indicador.total}} </ion-text>
                </h2>
              </ion-col>
              <ion-col size="auto">
                <ion-icon color="primary" [name]="indicador.icone"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
