<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <app-menu-toggle></app-menu-toggle>
    </ion-buttons>
    <ion-title>{{baseAtiva}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="content-middle">
    <ion-row>
      <ion-col
        class="ion-text-center ion-margin-bottom ion-padding-bottom"
        size="12"
      >
        <div class="ion-text-center">
          <img
            [src]="logoMenu"
            width="230px"
            style="width: 230px; max-height: 90px; margin-bottom: 20px"
          />
        </div>
        <ion-text color="primary">
          SISTEMA MÓVEL DE GERENCIAMENTO DE MANUTENÇÃO
        </ion-text>
      </ion-col>

      <ion-col class="ion-text-center" size="12" sizeMd="4" offsetMd="2">
        <p>
          <ion-text color="medium"> Gestão </ion-text>
        </p>
        <p>Rodrigo Vasconcelos</p>
        <p>Flávio Silva</p>

        <p class="ion-padding-top">
          <ion-text color="medium"> Equipe de Desenvolvimento </ion-text>
        </p>
        <p>Evandro C. Nunes</p>
        <p>Murilo Spinoza de Arruda</p>
      </ion-col>

      <ion-col class="ion-text-center" size="12" sizeMd="4">
        <p>
          <ion-text color="medium"> Gerenciamento Operacional </ion-text>
        </p>
        <p>Josemario Jesus</p>
        <p>Leo Weinberg</p>

        <p class="ion-padding-top">
          <ion-text color="medium"> Apoio Técnico </ion-text>
        </p>
        <p>ECNSystem Soluções</p>
        <p>MSA Consultoria de Software</p>
      </ion-col>

      <ion-col
        class="ion-text-center ion-margin-top ion-padding-bottom"
        size="12"
      >
        <ion-text color="medium">Versão do sistema: v{{appVersion}} </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
